# Eclipse stuff
/.classpath
/.project
/.settings

# netbeans
/nbproject

# vim
.*.sw[a-p]

# gradle
/.gradle

# various other potential build files
/build
/bin
/dist
/manifest.mf
/dependency-reduced-pom.xml

# Mac filesystem dust
/.DS_Store

# intellij
*.iml
*.ipr
*.iws
.idea/
/out/
